<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99bec8">  <td>22/03/16 19:04:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;FetchAPIDemosAPKFileController.stopAppium()[pri:0, instance:com.Basics.APIDemoApp.DragAndDropFunctionalities@82de64a]">&lt;&lt;stopAppium</td> 
<td>&nbsp;</td>  <td>main@271800170</td>   <td></td> </tr>
<tr bgcolor="99bec8">  <td>22/03/16 19:04:29</td>   <td>-27827</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FetchAPIDemosAPKFileController.getAPKFile()[pri:0, instance:com.Basics.APIDemoApp.DragAndDropFunctionalities@82de64a]">&gt;&gt;getAPKFile</td> 
<td>&nbsp;</td>  <td>main@271800170</td>   <td></td> </tr>
<tr bgcolor="9cd4d8">  <td>22/03/16 19:04:47</td>   <td>-10128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DragAndDropFunctionalities.verifyDragAndDropFunctionality()[pri:0, instance:com.Basics.APIDemoApp.DragAndDropFunctionalities@82de64a]">verifyDragAndDropFunctionality</td> 
  <td>main@271800170</td>   <td></td> </tr>
</table>
